.dashboard_whole{
    background-color: rgb(176, 174, 174);
    border-radius: 9px;
}
h1{
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 3px rgb(201, 200, 200);
}

h2{
    font-family: sans-serif;
    text-align: center;
}
.cars{
    max-width: 100%; 
    height: auto;
}