body{
    background-color: rgb(255, 255, 255);
}

.title{
    
    padding-top: 70px;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
    color: hsl(286, 33%, 51%);
    text-shadow: 5px 5px 5px hsl(300, 71%, 78%);;
}

.login_reg_box{
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsl(291, 93%, 12%);
    margin: 150px;
    background-color: hsl(286, 33%, 51%);
    padding-bottom: 50px;
}

.btn_container{
    text-align: center;
    box-shadow: 3px;
  }

.frontpage_login_btn{
    padding: 15px 104px;
    margin-top: 20px;
    border-radius: 6px;
    background-color:rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    
}

.frontpage_register_btn{
    
    padding: 15px 91.5px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
}


button:hover{
    background-color: rgb(69, 7, 74);
    color: white;
    font-size: 22px;
}